/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

/* UTILITIES */
.font-grey {
  color: #7d7f84;
}

.font-white {
  color: #ffffff;
}

.mr-20 {
  margin-right: 20px;
}

.pd-20 {
  padding: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-25 {
  margin-top: 25px;
}

/* COMMON */
/* LAYOUT */
.wrapper {
  width: 100%;
  height: calc(100% - 90px);
}

.col {
  display: flex;
  gap: 20px;
}

/* HOVER & DETAILS*/
.col-left li:hover {
  color: #ffffff;
}

.install:hover {
  color: #ffffff;
}

.profile:hover {
  color: #ffffff;
}

.navigation-list-main ul li:hover {
  color: white;
}

.upgrade-btn:hover {
  transform: scale(1.1);
}

.album:hover .play-button {
  display: block;
}

.playlist-btn:hover {
  color: white;
}

.album img:hover {
  opacity: 0.5;
}

.green-line-bottom {
  position: relative;
  cursor: pointer;
}

.green-line-bottom::after {
  content: "";
  position: absolute;
  left: 30%;
  top: 130%;
  height: 2px;
  width: 0;
  background-color: #1db954;
}

.green-line-bottom:hover::after {
  width: 40%;
}

.green-line-left {
  position: relative;
  cursor: pointer;
}

.green-line-left::after {
  content: '';
  position: absolute;
  left: -8px;
  top: 0;
  width: 2px;
  height: 0%;
  background-color: #1db954;
}

.green-line-left:hover::after {
  height: 100%;
}
.icon-left-side i:hover {
  color: #ffffff;
  cursor: pointer;
}

.artist:hover {
  text-decoration: underline;
  cursor: pointer;
}

.play:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* ROW */
.row-top {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
}

/* COL-LEFT*/
.col-left {
  width: 250px;
  height: 100vh;
  background-color: #000000;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-direction: column;
}

.col-left ul {
  text-decoration: none;
  list-style: none;
}

.col-left {
  width: 250px;
}

#logo-spotify {
  width: 60%;
  margin-bottom: 25px;
  color: #ffffff;
}

.logo-small {
  display: none;
}

.icon-nav {
  gap: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.icon-nav img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.icon-nav li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-nav span {
  font-size: 0.9rem;
}

.navigation-list ul li {
  font-size: 1.2rem;
}

/* PLAYLIST */
.playlist {
  overflow-y: auto;
  height: calc(100vh - 400px);
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.playlist li {
  margin-bottom: 20px;
}

.playlist-btn {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  align-items: center;
  cursor: pointer;
}

.square-plus {
  font-size: 2.4rem;
  margin-right: 5px;
}

.playlist h4 {
  margin-bottom: 5px;
  margin-top: 10px;
}

.bottom-nav {
  display: flex;
  flex-direction: column;
}
/* COL-RIGHT */
.col-right {
  width: calc(100vw - 250px);
  background-color: #141922;
  height: 100vh;
  overflow-y: auto;
}

.col-right ul {
  text-decoration: none;
  list-style: none;
}

.navigation-list li {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.navigation-list-main ul {
  display: flex;
  gap: 15px;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 900;
  cursor: pointer;
}

.banner {
  background-color: rgb(8, 11, 18, 0.6);
  padding: 1rem;
  text-align: end;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.upgrade-btn {
  border: 1px solid #fff;
  background: transparent;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
/* BOTTOM-NAV */
.install {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  color: #7d7f84;
  cursor: pointer;
}

.install img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile img {
  width: 25px;
  height: 25px;
  background-color: #7d7f84;
  border-radius: 50%;
  margin-right: 5px;
}
/* ALBUM */
.album {
  text-align: center;
  cursor: pointer;
  position: relative;
  width: calc(100% / 6);
}

.album .subtitle {
  font-size: clamp(0.3rem, 3vw, 0.6rem);
  color: #7d7f84;
  font-weight: 900;
  display: inline;
}

.album-img-wrapper {
  position: relative;
  width: 100%;
  flex: 1 1 calc(16.66% - 20px);
}

.play-button {
  position: absolute;
  color: white;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.title-size {
  font-size: clamp(0.6rem, 5vw, 0.8rem);
}

h2 {
  font-size: 1.7rem;
}

.circle-img {
  border-radius: 50%;
}

/* BOTTOM BAR */
.row-bottom {
  display: flex;
  bottom: 0;
  justify-content: space-between;
  height: 90px;
  background-color: #282828;
  position: sticky;
  bottom: 0;
  padding: 0px 20px;
  align-items: center;
}

/* Left side*/
.song-info {
  display: flex;
  align-items: center;
  gap: 15px;
  min-width: 150px;
}

.song-info img {
  width: 46px;
  height: 46px;
}

.details {
  margin-right: 30px;
}

.details .title {
  font-size: 0.8rem;
  font-weight: bold;
}

.details .artist {
  font-size: 0.8rem;
  color: #b3b3b3;
}

.icon-left-side {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/* Center*/
.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 30%;
  max-width: 100%;
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 0.8rem;
}

.buttons .play {
  font-size: 24px;
}

.progress {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  gap: 8px;
}

.progress .time {
  font-size: 11px;
  color: #b3b3b3;
}

.progress .bar {
  flex: 1;
  height: 4px;
  background-color: #404040;
  border-radius: 2px;
}

.progress .filled {
  width: 25%;
  height: 100%;
  background-color: #b3b3b3;
  cursor: pointer;
  position: relative;
}

.play-thumb {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
}

.filled:hover {
  background-color: #1db954;
}

.filled:hover .play-thumb {
  opacity: 1;
  background-color: #ffffff;
}

/* Right side*/
.right-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 150px;
  justify-content: flex-end;
  font-size: 0.8rem;
}

.volume-bar {
  width: 120px;
  height: 4px;
  background-color: #404040;
  border-radius: 2px;
}

.volume-filled {
  width: 30%;
  height: 100%;
  background-color: #b3b3b3;
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.volume-thumb {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
}

.volume-bar:hover .volume-filled {
  background-color: #1db954;
}

.volume-bar:hover .volume-thumb {
  opacity: 1;
  background-color: #ffffff;
}
