/* RESET */
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* UTILITIES */
.font-white {
  color: #ffffff;
}

.mr-15 {
  margin-right: 15px;
}

.pd-20 {
  padding: 20px;
}

/* COMMON */
/* LAYOUT */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.col {
  display: flex;
}

.col div {
  width: calc(100% / 6);
}
/* ROW */
.row-top {
  width: 100%;
  display: flex;
}

.row-bottom {
  width: 100%;
  height: 90px;
  background-color: #282828;
}
/* COL-LEFT*/
.col-left {
  width: 250px;
  background-color: #000000;
  padding: 15px;
  overflow-y: auto;
}

.col-left ul {
  text-decoration: none;
  list-style: none;
}

.col-left img {
  width: 60%;
}

.col-right {
  width: calc(100vw - 250px);
  background-color: #141922;
  height: 100vh;
  overflow-y: auto;
}

.col-right ul {
  text-decoration: none;
  list-style: none;
}

.navigation-list li {
  margin-bottom: 15px;
}

.navigation-list-main ul {
  display: flex;
  gap: 15px;
  justify-content: center;
  font-size: 0.9rem;
}
/* COL-RIGHT */
.banner {
  background-color: #080b12;
  padding: 1rem;
  text-align: end;
  position: sticky;
  top: 0;
}

.upgrade-btn {
  border: 1px solid #fff;
  background: transparent;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
/* ALBUM */
.heavy-metal {
  text-align: center;
}
